main {
  width: calc(100% - 42rem);
  position: absolute;
  right: 0;
  overflow: hidden;

  // targeting all sections in main
  section {
    margin: 2rem auto;
    min-height: calc(100vh - 4rem);
    border-bottom: 2px solid $grey;
  }

  h2 {
    font-size: 3.2rem;
    font-weight: 600;
  }
  h3 {
    font-size: 2.1rem;
    font-weight: 600;
    line-height: 1.2;
    padding-bottom: 1rem;
  }
  h5 {
    font-size: 1.5rem;
    font-weight: 400;
    color: $grey;
    margin: 0;
    line-height: 1.2;
  }

  // start of home section
  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__name {
      font-size: clamp(3.6rem, 10vw, 6rem);
      text-align: center;
      line-height: 1.2;
      padding-bottom: 1rem;
      // need for tipsy animation
      transform: translateX(0) translateY(0);
    }
    /////////////////////////////
    // Tipsy animation border
    &__name:before,
    &__name:after {
      content: "";
      padding: 3.5rem 2.5rem;
      position: absolute;
      left: 50%;
      width: 110%;
      top: calc(50% - 10px);
      display: block;
      border: 5px solid $orange;
      transform: translateX(-50%) translateY(-50%) rotate(0deg);
      animation: 10s infinite alternate ease-in-out tipsy;
    }

    &__name:before {
      border-color: $orange $orange rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
      z-index: -1;
      border-radius: 1rem;
    }

    &__name:after {
      border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) $orange $orange;
      box-shadow: 25px 25px 25px rgba(46, 46, 49, 0.8);
      border-radius: 1rem;
    }
    /////////////////////////////

    &__work {
      font-size: 2.1rem;
      font-weight: 300;
      padding-bottom: 0.5rem;
    }
  }

  // start of about me section
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__title {
      margin-bottom: 1rem;
    }
  }

  // start of resume section
  .resume {
    display: block;
    h3 {
      font-size: clamp(1.5rem, 1.5vw, 2.1rem);
    }
    &__heading {
      margin-bottom: 1rem;
    }

    // targeting timeline part of resume that shows education and experience on page
    &__timeline {
      display: block;
    }
    &__journey {
      width: 100%;
    }

    &__education {
      margin-bottom: 3rem;
      &--heading {
        font-size: 2.1rem;
        margin-bottom: 2rem;
      }
      h3:first-of-type {
        padding-bottom: 0.5rem;
      }
      h5:last-of-type {
        padding-bottom: 1rem;
      }
    }
    &__education--item,
    &__experience--item {
      display: flex;
      margin-bottom: 2rem;
    }
    &__education--school,
    &__experience--company {
      width: 25%;
      text-align: right;
      padding-right: 2rem;
    }
    &__education--degree,
    &__experience--position {
      width: 75%;
      padding: 0 2rem 0 1rem;
    }

    &__experience--item {
      display: flex;
    }

    // targeting skills part of this page
    .skill {
      width: 100%;

      &__item {
        margin-bottom: 1rem;
      }
      &__item--list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      &__item--option {
        width: 31%;
      }

      &__item--text {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0.5rem 0 0.2rem;
        i {
          font-size: 2.4rem;
        }
      }
      &__item--percentBorder {
        width: 100%;
        height: 6px;
        border: 1px solid $orange;
        border-radius: 6px;
        margin-bottom: 1rem;
      }
      &__item--percentBar {
        display: block;
        width: 100%;
        text-align: left;
        margin: 0.1rem;
        background-color: $orange;
        height: 2px;
      }
      .critical {
        margin: 2rem 0 0;
      }
    }
  }

  // start of Portfolio section
  .portfolio {
    display: block;
    &__heading {
      margin-bottom: 1rem;
    }
    &__project {
      display: flex;
      margin-bottom: 2rem;
      min-height: 15rem;
    }
    &__project--text {
      width: 75%;
      padding-right: 2rem;
      position: relative;
    }
    &__project--links {
      display: flex;
    }
    &__project--links a {
      display: inline-block;
      width: 15rem;
      margin-bottom: 1rem;
      text-align: center;
      background-color: $grey;
      margin: 1rem 1rem 1rem 0;
      color: black;
      transition: all 0.3s ease;
      &:hover,
      &:focus {
        background-color: $orange;
      }
    }
    &__project--image {
      width: 25%;
      max-width: 16rem;
      height: 11rem;
      overflow: hidden;
      img {
        display: block;
        max-width: 18rem;
        width: 100%;
        height: 100%;
      }
    }
  }

  // start of service section
  .service {
    &__heading {
      margin-bottom: 1rem;
    }
    &__type {
      display: flex;
      margin-bottom: 2rem;
      align-items: flex-start;
      min-height: 15rem;
    }
    &__type--text {
      width: 75%;
      padding-right: 2rem;
    }
    &__type--image {
      width: 25%;
      text-align: center;
      img {
        display: block;
        border: 3px solid $grey;
        border-radius: 10px;
        max-width: 18rem;
        width: 100%;
        height: 10rem;
      }
    }
    &__type--link {
      width: 100%;
      max-width: 18rem;
      background-color: $grey;
      color: black;
      line-height: 1.2;
      padding: 0.5rem;
      display: block;
      margin: 1rem 0;
      transition: all 0.3s ease;
      &:hover,
      &:focus {
        background-color: $orange;
      }
    }
  }

  // start of contact section
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: none;
    &__email a {
      color: $orange;
      letter-spacing: 1.2px;
      transition: all 0.3s ease;
      &:hover,
      &:focus {
        color: red;
      }
    }
  }

  // show or hide particular section
  // .showHide {
  //   display: none;
  // }

  // used to turn font color of some text to orange
  .orange {
    color: $orange;
  }
}

// tipsy border animation
@keyframes tipsy {
  0% {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}

body {
  font-family: helvetica, arial, sans-serif;
  background-color: #2e2e31;
}
