// declaring variables
$white: #EEE;
$grey: #AAA;
$orange: #F58545;
$darkGrey: #383f46;
$fontMain: 'Poppins', sans-serif;
$fontHead: 'Roboto Slab', serif;

@import "_setup";
@import "_header";
@import "_main";
// @import "_mediaQueries";
