html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body,
p,
h1,
h2,
ul,
span,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
  background: #222;
  color: #eee;
  position: relative;
  overflow-x: hidden;
}

.wrapper {
  width: 85%;
  max-width: 1250px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  font-family: "Roboto Slab", serif;
  text-decoration: none;
  color: #eee;
}

li {
  list-style: none;
}

.menu {
  position: fixed;
  top: 0;
  right: calc(100vw - 41rem);
  width: 41rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 100vh;
  text-align: center;
}

.menu__dropdown {
  display: none;
  width: 4rem;
  height: 4rem;
}

.menu__dropdown i {
  display: inline-block;
  width: 4rem;
  font-size: 2rem;
  padding: 0.5rem 0.75rem;
  margin-right: 1rem;
  background-color: #f58545ba;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
}

.menu__dropdown:hover, .menu__dropdown:focus, .menu__dropdown:active {
  color: black;
}

.menu .fa-times {
  display: none;
}

.menu__hideDropdown {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  right: 0;
}

.menu__hideDropdown .fa-bars {
  display: none;
}

.menu__bar {
  width: 11.5rem;
  font-size: 1.2rem;
  text-align: center;
  margin: 1rem auto 0;
}

.menu__bar--list {
  text-align: center;
}

.menu__bar--listOption {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #aaa;
  width: 100%;
  max-height: 16.5vh;
  text-align: center;
}

.menu__bar--listOption a {
  height: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu__bar--listOption a i {
  width: 100%;
  padding: 1rem;
  font-size: 2.4rem;
  padding-bottom: 0.5rem;
}

.menu__bar--listOption a p {
  width: 100%;
  padding: 0 1rem 1rem;
  line-height: 1.6rem;
}

.menu__bar--listOption a:hover, .menu__bar--listOption a:focus, .menu__bar--listOption a:active {
  color: #f58545;
}

.menu__myInfo {
  width: 29.5rem;
  padding: 2rem 2rem;
  text-align: center;
  background-color: #383f46;
}

.menu__myInfo--myPic {
  width: 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 50%;
  margin: 2rem auto 1rem;
  border: 3px solid #aaa;
}

.menu__myInfo--myPic img {
  margin: 0 auto;
  display: block;
  height: 100%;
  width: 100%;
}

.menu__myInfo--name {
  padding: 1.5rem 0 0;
  font-size: 3.6rem;
}

.menu__myInfo--work, .menu__myInfo--socialIcons {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1rem;
}

.menu__myInfo--work {
  font-size: 1.8rem;
  color: #aaa;
}

.menu__myInfo--social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__myInfo--socialIcons {
  width: 4.5rem;
  height: 4.5rem;
  overflow: hidden;
  text-align: center;
}

.menu__myInfo--socialIcons a {
  font-size: 2rem;
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu__myInfo--socialIcons a:hover, .menu__myInfo--socialIcons a:focus, .menu__myInfo--socialIcons a:active {
  color: #000;
  background-color: #f58545;
}

.menu__myInfo--downloadCV {
  margin: 2rem 0;
  padding: 1rem 2rem;
  border: 2px solid white;
  background-color: #383f46;
  color: #eee;
  border-radius: 100px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu__myInfo--downloadCV:hover, .menu__myInfo--downloadCV:focus, .menu__myInfo--downloadCV:active {
  background-color: #f58545;
}

@-webkit-keyframes dropdown__animation {
  from {
    background-color: rosybrown;
    top: -100rem;
  }
  to {
    background-color: #383f46;
    top: 0;
  }
}

@keyframes dropdown__animation {
  from {
    background-color: rosybrown;
    top: -100rem;
  }
  to {
    background-color: #383f46;
    top: 0;
  }
}

main {
  width: calc(100% - 42rem);
  position: absolute;
  right: 0;
}

main section {
  margin: 2rem auto;
  min-height: calc(100vh - 4rem);
  border-bottom: 2px solid #aaa;
}

main h2 {
  font-size: 3.2rem;
  font-weight: 600;
}

main h3 {
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 1.2;
  padding-bottom: 1rem;
}

main h5 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #aaa;
  margin: 0;
  line-height: 1.2;
}

main .home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .home__name {
  font-size: clamp(3.6rem, 10vw, 6rem);
  text-align: center;
  line-height: 1.2;
  padding-bottom: 1rem;
  -webkit-transform: translateX(0) translateY(0);
          transform: translateX(0) translateY(0);
}

main .home__name:before, main .home__name:after {
  content: "";
  padding: 3.5rem 2.5rem;
  position: absolute;
  left: 50%;
  width: 110%;
  top: calc(50% - 10px);
  display: block;
  border: 5px solid #f58545;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
          transform: translateX(-50%) translateY(-50%) rotate(0deg);
  -webkit-animation: 10s infinite alternate ease-in-out tipsy;
          animation: 10s infinite alternate ease-in-out tipsy;
}

main .home__name:before {
  border-color: #f58545 #f58545 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  z-index: -1;
  border-radius: 1rem;
}

main .home__name:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #f58545 #f58545;
  -webkit-box-shadow: 25px 25px 25px rgba(46, 46, 49, 0.8);
          box-shadow: 25px 25px 25px rgba(46, 46, 49, 0.8);
  border-radius: 1rem;
}

main .home__work {
  font-size: 2.1rem;
  font-weight: 300;
  padding-bottom: 0.5rem;
}

main .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .about__title {
  margin-bottom: 1rem;
}

main .resume {
  display: block;
}

main .resume h3 {
  font-size: clamp(1.5rem, 1.5vw, 2.1rem);
}

main .resume__heading {
  margin-bottom: 1rem;
}

main .resume__timeline {
  display: block;
}

main .resume__journey {
  width: 100%;
}

main .resume__education {
  margin-bottom: 3rem;
}

main .resume__education--heading {
  font-size: 2.1rem;
  margin-bottom: 2rem;
}

main .resume__education h3:first-of-type {
  padding-bottom: 0.5rem;
}

main .resume__education h5:last-of-type {
  padding-bottom: 1rem;
}

main .resume__education--item, main .resume__experience--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

main .resume__education--school, main .resume__experience--company {
  width: 25%;
  text-align: right;
  padding-right: 2rem;
}

main .resume__education--degree, main .resume__experience--position {
  width: 75%;
  padding: 0 2rem 0 1rem;
}

main .resume__experience--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .resume .skill {
  width: 100%;
}

main .resume .skill__item {
  margin-bottom: 1rem;
}

main .resume .skill__item--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .resume .skill__item--option {
  width: 31%;
}

main .resume .skill__item--text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5rem 0 0.2rem;
}

main .resume .skill__item--text i {
  font-size: 2.4rem;
}

main .resume .skill__item--percentBorder {
  width: 100%;
  height: 6px;
  border: 1px solid #f58545;
  border-radius: 6px;
  margin-bottom: 1rem;
}

main .resume .skill__item--percentBar {
  display: block;
  width: 100%;
  text-align: left;
  margin: 0.1rem;
  background-color: #f58545;
  height: 2px;
}

main .resume .skill .critical {
  margin: 2rem 0 0;
}

main .portfolio {
  display: block;
}

main .portfolio__heading {
  margin-bottom: 1rem;
}

main .portfolio__project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
  min-height: 15rem;
}

main .portfolio__project--text {
  width: 75%;
  padding-right: 2rem;
  position: relative;
}

main .portfolio__project--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .portfolio__project--links a {
  display: inline-block;
  width: 15rem;
  margin-bottom: 1rem;
  text-align: center;
  background-color: #aaa;
  margin: 1rem 1rem 1rem 0;
  color: black;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

main .portfolio__project--links a:hover, main .portfolio__project--links a:focus {
  background-color: #f58545;
}

main .portfolio__project--image {
  width: 25%;
  max-width: 16rem;
  height: 11rem;
  overflow: hidden;
}

main .portfolio__project--image img {
  display: block;
  max-width: 18rem;
  width: 100%;
  height: 100%;
}

main .service__heading {
  margin-bottom: 1rem;
}

main .service__type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 15rem;
}

main .service__type--text {
  width: 75%;
  padding-right: 2rem;
}

main .service__type--image {
  width: 25%;
  text-align: center;
}

main .service__type--image img {
  display: block;
  border: 3px solid #aaa;
  border-radius: 10px;
  max-width: 18rem;
  width: 100%;
  height: 10rem;
}

main .service__type--link {
  width: 100%;
  max-width: 18rem;
  background-color: #aaa;
  color: black;
  line-height: 1.2;
  padding: 0.5rem;
  display: block;
  margin: 1rem 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

main .service__type--link:hover, main .service__type--link:focus {
  background-color: #f58545;
}

main .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: none;
}

main .contact__email a {
  color: #f58545;
  letter-spacing: 1.2px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

main .contact__email a:hover, main .contact__email a:focus {
  color: red;
}

main .orange {
  color: #f58545;
}

@-webkit-keyframes tipsy {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
            transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(360deg);
            transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}

@keyframes tipsy {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
            transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(360deg);
            transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}

body {
  font-family: helvetica, arial, sans-serif;
  background-color: #2e2e31;
}

@media (max-width: 1024px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 30rem;
    min-height: 568px;
    height: 568px, 100vh, 768px;
    text-align: center;
    margin: 0;
    z-index: 1;
    position: fixed;
    top: 0;
    right: -30rem;
    background-color: #383f46;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .menu__hideDropdown {
    right: 0;
    -webkit-animation-name: dropdown__animation;
            animation-name: dropdown__animation;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
  }
  .menu__dropdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0rem;
    right: 0rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__bar {
    width: 100%;
  }
  .menu__bar--listOption {
    border-bottom: none;
  }
  .menu__bar--listOption i {
    display: none;
  }
  .menu__myInfo {
    padding: 1rem 2rem;
    background: none;
  }
  .menu__myInfo--myPic {
    margin: 0 auto;
  }
  .menu__myInfo--name {
    padding: 1rem 0 0;
    line-height: 1.2;
  }
  .menu__myInfo--work {
    padding: 0;
  }
  .menu__myInfo--downloadCV {
    margin: 0.5rem 0 0;
  }
  main {
    position: static;
    width: 100%;
  }
  main .resume h3 {
    font-size: clamp(1.9rem, 2.5vw, 2.1rem);
  }
}

@media (max-width: 644px) {
  main .resume .skill__item--option {
    width: 35%;
  }
}

@media (max-width: 568px) {
  main .resume .skill__item--option {
    width: 45%;
  }
  main .portfolio__project {
    display: block;
  }
  main .portfolio__project--text {
    width: 100%;
    padding-right: 0;
  }
  main .portfolio__project--image {
    width: 100%;
    padding-top: 1rem;
  }
  main .portfolio__project--links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    bottom: -11rem;
    left: 17rem;
  }
  main .portfolio__project--links a {
    width: 10rem;
    margin: 1rem;
  }
  main .service__type {
    display: block;
  }
  main .service__type--text {
    width: 100%;
    padding: 1rem 0;
  }
  main .service__type--image {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  main .service__type--image img {
    width: 16rem;
    height: 10rem;
  }
  main .service__type--link {
    width: 12rem;
    height: 100%;
    margin: 0 0 0.25rem 1.75rem;
  }
}

@media (max-width: 464px) {
  .menu {
    background-color: rgba(56, 63, 70, 0.95);
  }
  main .resume__education--heading {
    margin: 0;
  }
  main .resume__education--item, main .resume__experience--item {
    display: block;
  }
  main .resume__education--school, main .resume__experience--company {
    width: 100%;
    text-align: left;
    padding: 1rem 0;
  }
  main .resume__education--degree, main .resume__experience--position {
    width: 100%;
    padding: 0;
  }
  main .resume .skill__item--name {
    text-align: center;
  }
  main .resume .skill__item--list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .resume .skill__item--option {
    width: 12rem;
    padding: 0.5rem;
    text-align: center;
    max-width: 36rem;
  }
  main .resume .skill__item--option h5 {
    margin-bottom: 0.5rem;
  }
  main .resume .skill__item--text {
    display: block;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  main .resume .skill__item--percentBorder {
    display: none;
  }
}

@media (max-height: 568px) {
  .menu__bar--listOption {
    padding: 0;
  }
  .menu__bar--listOption a p {
    padding-bottom: 0.5rem;
  }
  .menu__myInfo--myPic {
    width: 140px;
    height: 140px;
  }
  .menu__myInfo--name {
    font-size: 2.7rem;
  }
}

@media (max-height: 494px) {
  .menu {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .menu__myInfo {
    padding-bottom: 0;
  }
  .menu__myInfo--myPic {
    display: none;
  }
  .menu__myInfo--name {
    font-size: 2.7rem;
  }
}
